Write a Python program which accepts the radius of a circle from the user and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [1]:
import math

def compute_circle_area(radius):

    area = math.pi * (radius ** 2)
    return area

try:
    radius_input = input("Enter the radius: ")
    radius = float(radius_input)

    if radius < 0:
        print("Error: Radius cannot be negative.")
    else:
        area_result = compute_circle_area(radius)
        print(f"\nSample input: Enter the radius: {radius_input}")
        print(f"Sample output: Area of Circle is {area_result}")

except ValueError:
    print("\nInvalid input. Please enter a numerical value for the radius.")

Enter the radius: 5

Sample input: Enter the radius: 5
Sample output: Area of Circle is 78.53981633974483

Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [3]:
def collect_and_display_student_details():

    student_name = input("Enter the name: ").strip()

    roll_number_input = input("Enter the roll number: ").strip()

    mark_input = input("Enter the mark: ").strip()

    try:
        roll_number = int(roll_number_input)
        mark = float(mark_input)

        print(f"Name: {student_name}")
        print(f"Roll No: {roll_number}")
        if mark == int(mark):
            print(f"Mark: {int(mark)}")
        else:
            print(f"Mark: {mark}")

    except ValueError:
        print("\nError: The Roll Number and Mark must be valid numerical values.")

collect_and_display_student_details()

Enter the name: Sankar
Enter the roll number: 13
Enter the mark: 50
Name: Sankar
Roll No: 13
Mark: 50

Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [4]:
def find_largest_number(number_list):
    if not number_list:
        raise ValueError("The list cannot be empty.")
    return max(number_list)


try:
    user_input = input("Enter a list of numbers separated by commas (e.g., 12, 3, 47, 10): ")

    input_list = [float(s.strip()) for s in user_input.split(',')]

    if not input_list:
         raise ValueError("No numbers were entered.")
    cleaned_list = [int(x) if x == int(x) else x for x in input_list]

    largest_value = find_largest_number(cleaned_list)

    input_str = ', '.join(map(str, cleaned_list))
    print(f"\nSample input: {input_str}")
    print(f"Sample output: {largest_value} is the largest number.")

except ValueError as e:
    print(f"\nError: {e}. Please ensure you enter a valid, non-empty list of numbers.")

Enter a list of numbers separated by commas (e.g., 12, 3, 47, 10): 2,5,6,50

Sample input: 2, 5, 6, 50
Sample output: 50 is the largest number.

Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [5]:
def calculate_and_print_sums(start, end):

    previous_number = 0

    print(f"Sample input: {start}....{end}")
    print("\nSample output:")
    for current_number in range(start, end + 1):

        current_sum = current_number + previous_number

        print(f"Current Number {current_number} Previous Number {previous_number} Sum: {current_sum}")
        previous_number = current_number

START_NUM = 1
END_NUM = 10

calculate_and_print_sums(START_NUM, END_NUM)

Sample input: 1....10

Sample output:
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

Write a Python program to print only those numbers which are divisible of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [6]:
def find_multiples_of_five(number_list):
    multiples_of_five = []

    for number in number_list:
        if number % 5 == 0:
            multiples_of_five.append(number)

    return multiples_of_five


try:
    user_input = input("Enter a list of numbers separated by commas (e.g., 10, 20, 33, 46, 55): ")

    input_list = [int(s.strip()) for s in user_input.split(',')]

    result_list = find_multiples_of_five(input_list)

    input_str = ', '.join(map(str, input_list))
    output_str = ', '.join(map(str, result_list))

    print(f"\nSample input: {input_str}")
    print(f"Sample output: {output_str}")

except ValueError:
    print("\nError: Please ensure all values entered are valid whole numbers (integers).")
except Exception as e:
    print(f"\nAn unexpected error occurred: {e}")

Enter a list of numbers separated by commas (e.g., 10, 20, 33, 46, 55): 15,20,3,5,20

Sample input: 15, 20, 3, 5, 20
Sample output: 15, 20, 5, 20

Write a Python program to check whether a number is prime or not. Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [7]:
import math

def is_prime(n):
    if n <= 1:
        return False

    if n == 2:
        return True
    if n % 2 == 0:
        return False
    limit = int(math.sqrt(n))

    for i in range(3, limit + 1, 2):
        if n % i == 0:
            return False

    return True

try:
    user_input = input("Enter the number: ")
    number = int(user_input)

    print(f"Sample input: Enter the number: {number}")
    if is_prime(number):
        print(f"Sample output: {number} is a prime number.")
    else:
        print(f"Sample output: {number} is not a prime number.")

except ValueError:
    print("\nError: Invalid input. Please enter a whole number.")

Enter the number: 15
Sample input: Enter the number: 15
Sample output: 15 is not a prime number.

Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [8]:
def reverse_list_with_loop(original_list):
    reversed_list = []

    n = len(original_list)

    for i in range(n - 1, -1, -1):

        element = original_list[i]

        reversed_list.append(element)

    return reversed_list


try:

    user_input = input("Enter a list of numbers separated by commas (e.g., 10,40,30,70): ")

    input_list = [int(s.strip()) for s in user_input.split(',')]

    input_str = ','.join(map(str, input_list))

    reversed_list = reverse_list_with_loop(input_list)
    output_str = ','.join(map(str, reversed_list))

    print(f"\nSample input: {input_str}")
    print(f"Sample output: {output_str}")

except ValueError:
    print("\nError: Please ensure all values entered are valid whole numbers (integers).")

Enter a list of numbers separated by commas (e.g., 10,40,30,70): 15,11,2,1,5

Sample input: 15,11,2,1,5
Sample output: 5,1,2,11,15

Write a Python program to print the following pattern.
*
**
***
****

In [9]:
def print_star_pattern(rows):
    print("Pattern:")

    for i in range(1, rows + 1):
        stars = "*" * i
        print(stars)

NUMBER_OF_ROWS = 4

print(f"--- Printing Star Pattern with {NUMBER_OF_ROWS} Rows ---")

print_star_pattern(NUMBER_OF_ROWS)

--- Printing Star Pattern with 4 Rows ---
Pattern:
*
**
***
****

Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [11]:
def find_maximum(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

try:
    user_input = input("Enter three numbers separated by commas (e.g., 34,12,7): ")
    numbers_str = [s.strip() for s in user_input.split(',')]

    if len(numbers_str) != 3:
        print("Error: You must enter exactly three numbers.")
    else:
        n1 = float(numbers_str[0])
        n2 = float(numbers_str[1])
        n3 = float(numbers_str[2])

        max_value = find_maximum(n1, n2, n3)

        # Display the result
        print(f"\nSample input: {n1},{n2},{n3}")
        print(f"Sample output: {max_value}")

except ValueError:
    print("\nInvalid input. Please ensure all values entered are valid numbers.")

Enter three numbers separated by commas (e.g., 34,12,7): 55,3,66

Sample input: 55.0,3.0,66.0
Sample output: 66.0

Write a Python program to construct the following pattern, using a nested for loop.
*
**
***
****
*****
****
***
**
*

In [12]:
def print_diamond_pattern(max_stars):

    for i in range(1, max_stars + 1):

        print("*" * i)

    for j in range(max_stars - 1, 0, -1):
        print("*" * j)
MAX_STARS = 5

print(f"--- Printing Diamond Pattern (Max Stars: {MAX_STARS}) ---")

print_diamond_pattern(MAX_STARS)

--- Printing Diamond Pattern (Max Stars: 5) ---
*
**
***
****
*****
****
***
**
*